body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(52, 51, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1081 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:65px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1083 {
  position:absolute;
  left:172px;
  top:12px;
  width:53px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1085 {
  position:absolute;
  left:51px;
  top:12px;
  width:56px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1086 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1087 {
  position:absolute;
  left:17px;
  top:17px;
  width:6px;
  height:6px;
}
#u1088 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1089 {
  position:absolute;
  left:24px;
  top:17px;
  width:6px;
  height:6px;
}
#u1090 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1091 {
  position:absolute;
  left:31px;
  top:17px;
  width:6px;
  height:6px;
}
#u1092 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1093 {
  position:absolute;
  left:38px;
  top:17px;
  width:6px;
  height:6px;
}
#u1094 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1095 {
  position:absolute;
  left:110px;
  top:12px;
  width:23px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u1097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1097 {
  position:absolute;
  left:308px;
  top:12px;
  width:77px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1098 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1099 {
  position:absolute;
  left:45px;
  top:17px;
  width:6px;
  height:6px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1101 {
  position:absolute;
  left:111px;
  top:43px;
  width:174px;
  height:21px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1102 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u1103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1103 {
  position:absolute;
  left:10px;
  top:76px;
  width:375px;
  height:668px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:271px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1105 {
  position:absolute;
  left:15px;
  top:85px;
  width:367px;
  height:271px;
}
#u1106 {
  position:absolute;
  left:2px;
  top:128px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1107 {
  position:absolute;
  left:24px;
  top:106px;
  width:345px;
  height:16px;
  color:#666666;
}
#u1108 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u1109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1109 {
  position:absolute;
  left:24px;
  top:150px;
  width:70px;
  height:70px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u1111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1111 {
  position:absolute;
  left:118px;
  top:150px;
  width:70px;
  height:70px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u1113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1113 {
  position:absolute;
  left:211px;
  top:150px;
  width:70px;
  height:70px;
}
#u1114 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u1115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1115 {
  position:absolute;
  left:305px;
  top:150px;
  width:70px;
  height:70px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u1117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1118 {
  position:absolute;
  left:47px;
  top:294px;
  width:300px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u1119 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u1120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u1120 {
  position:absolute;
  left:56px;
  top:283px;
  width:19px;
  height:12px;
}
#u1121 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1122 {
  position:absolute;
  left:235px;
  top:238px;
  width:140px;
  height:16px;
  text-align:right;
}
#u1123 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u1124 {
  position:absolute;
  left:24px;
  top:272px;
  width:351px;
  height:1px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1127 {
  position:absolute;
  left:464px;
  top:294px;
  width:300px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u1128 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u1129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u1129 {
  position:absolute;
  left:473px;
  top:283px;
  width:19px;
  height:12px;
}
#u1130 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
